In [271]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [272]:
#District Summary

In [273]:
# Calculate the total number of unique schools
unique_schools = school_data_complete["school_name"].unique()
school_count= len(unique_schools)
print(school_count)

15

In [274]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
print(student_count)

39170

In [275]:
# Calculate the total budget
unique_budget = school_data_complete["budget"].unique()
total_budget = sum(unique_budget)
print(total_budget)

24649428

In [276]:
# Calculate the average (mean) math score
average_math_score = school_data_complete[("math_score")].mean()
print(average_math_score)

78.98537145774827

In [277]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [278]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage
print(passing_math_percentage)

74.9808526933878

In [279]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [280]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(overall_passing_rate)

65.17232575950983

In [281]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],"Total Students": [student_count], "Total Budget": [total_budget],
"Average Math Score": [average_math_score],"Average Reading Score": [average_reading_score],"% Passing Math": [passing_math_percentage],
"% Passing Reading": [passing_reading_percentage],"% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371457748272,81.877840183814143,74.980852693387803,85.805463364820014,65.172325759509832

In [282]:
#School Summary

In [283]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [284]:
# Calculate the total student count per school from school_data
per_school_counts =school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [285]:
per_school_budget=school_data_complete.groupby(["school_name"])["budget"].mean()

per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [286]:
per_school_capita = per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [287]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432475884240
Cabrera High School      83.061894510226054
Figueroa High School     76.711766700576462
Ford High School         77.102592186929542
Griffin High School      83.351498637602177
Hernandez High School    77.289751887810141
Holden High School       83.803278688524586
Huang High School        76.629413781282139
Johnson High School      77.072463768115938
Pena High School         83.839916839916839
Rodriguez High School    76.842710677669416
Shelton High School      83.359454855195906
Thomas High School       83.418348623853205
Wilson High School       83.274200613228203
Wright High School       83.682222222222222
Name: math_score, dtype: float64

In [288]:
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963022508033
Cabrera High School      83.975780409041974
Figueroa High School     81.158019667683959
Ford High School         80.746257758305944
Griffin High School      83.816757493188007
Hernandez High School    80.934412081984902
Holden High School       83.814988290398119
Huang High School        81.182721974631477
Johnson High School      80.966393614786810
Pena High School         84.044698544698548
Rodriguez High School    80.744686171542881
Shelton High School      83.725724020442925
Thomas High School       83.848929663608558
Wilson High School       83.989487516425754
Wright High School       83.954999999999998
Name: reading_score, dtype: float64

In [289]:
# Calculate the number of students per school with math scores of 70 or higher from school_namets_passing_reading
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_reading = students_passing_math.groupby(["school_name"]).size()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [290]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [291]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [292]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print(per_school_passing_math)
print(per_school_passing_reading)
print(overall_passing_rate)

school_name
Bailey High School       66.680064308681679
Cabrera High School      94.133476856835301
Figueroa High School     65.988470668023055
Ford High School         68.309602044541805
Griffin High School      93.392370572207085
Hernandez High School    66.752966558791798
Holden High School       92.505854800936774
Huang High School        65.683921837504286
Johnson High School      66.057550934677593
Pena High School         94.594594594594597
Rodriguez High School    66.366591647911974
Shelton High School      93.867120954003397
Thomas High School       93.272171253822634
Wilson High School       93.867717915024102
Wright High School       93.333333333333329
dtype: float64
school_name
Bailey High School       81.933279742765279
Cabrera High School      97.039827771797633
Figueroa High School     80.739233638521540
Ford High School         79.299014238773282
Griffin High School      97.138964577656679
Hernandez High School    80.862998921251346
Holden High School       96.252927400468380
Huang High School        81.316420980459384
Johnson High School      81.222432262129800
Pena High School         95.945945945945937
Rodriguez High School    80.220055013753438
Shelton High School      95.854628052243044
Thomas High School       97.308868501529062
Wilson High School       96.539640823477882
Wright High School       96.611111111111114
dtype: float64
school_name
Bailey High School       54.642282958199360
Cabrera High School      91.334768568353070
Figueroa High School     53.204476093591047
Ford High School         54.289886820007304
Griffin High School      90.599455040871931
Hernandez High School    53.527508090614887
Holden High School       89.227166276346608
Huang High School        53.513884127528279
Johnson High School      53.539172442764126
Pena High School         90.540540540540533
Rodriguez High School    52.988247061765435
Shelton High School      89.892106757524132
Thomas High School       90.948012232415891
Wilson High School       90.582566798072719
Wright High School       90.333333333333329
dtype: float64

In [293]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =  pd.DataFrame({"School Type" : school_types,"Total Students" : per_school_counts,"Total School Budget" : per_school_budget,
"Per Student Budget" : per_school_capita,"Average Math Score" : per_school_math,"Average Reading Score" : per_school_reading,     
"% Passing Math" : per_school_passing_math,"% Passing Reading" : per_school_passing_reading, "% Overall Passing" : overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432475884240,81.033963022508033,66.680064308681679,81.933279742765279,54.642282958199360
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061894510226054,83.975780409041974,94.133476856835301,97.039827771797633,91.334768568353070
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711766700576462,81.158019667683959,65.988470668023055,80.739233638521540,53.204476093591047
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592186929542,80.746257758305944,68.309602044541805,79.299014238773282,54.289886820007304
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351498637602177,83.816757493188007,93.392370572207085,97.138964577656679,90.599455040871931
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289751887810141,80.934412081984902,66.752966558791798,80.862998921251346,53.527508090614887
Holden High School,Charter,427,"$248,087.00",$581.00,83.803278688524586,83.814988290398119,92.505854800936774,96.252927400468380,89.227166276346608
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629413781282139,81.182721974631477,65.683921837504286,81.316420980459384,53.513884127528279
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072463768115938,80.966393614786810,66.057550934677593,81.222432262129800,53.539172442764126
Pena High School,Charter,962,"$585,858.00",$609.00,83.839916839916839,84.044698544698548,94.594594594594597,95.945945945945937,90.540540540540533
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842710677669416,80.744686171542881,66.366591647911974,80.220055013753438,52.988247061765435
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359454855195906,83.725724020442925,93.867120954003397,95.854628052243044,89.892106757524132
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418348623853205,83.848929663608558,93.272171253822634,97.308868501529062,90.948012232415891
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274200613228203,83.989487516425754,93.867717915024102,96.539640823477882,90.582566798072719
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222222222222,83.954999999999998,93.333333333333329,96.611111111111114,90.333333333333329

In [294]:
Highest-Performing Schools (by % Overall Passing)

SyntaxError: invalid syntax (3166587618.py, line 1)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

In [ ]:
#Bottom-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = lowest_performing = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame( {"9th": ninth_grade_math_scores,"10th": tenth_grader_math_scores,"11th": eleventh_grader_math_scores,
"12th": twelfth_grader_math_scores })

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,"10th": tenth_grader_math_scores,"11th": eleventh_grader_math_scores,
"12th": twelfth_grader_math_scores})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
School Scores by Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores,
"% Passing Math": spending_passing_math,"% Passing Reading": spending_passing_reading,"% Overall Passing": overall_passing_spending})

# Display results
spending_summary

In [ ]:
Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
school_size_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)

# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = size_summary = pd.DataFrame({"Average Math Score": size_math_scores, "Average Reading Score": size_reading_scores,
"% Passing Math": size_passing_math,"% Passing Reading": size_passing_reading,"% Overall Passing": size_overall_passing})



# Display results
size_summary

In [ ]:
district_summary.to_csv('schools_data.csv', index=False)

In [ ]:
#Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score" : average_math_score_by_type,"Average Reading Score" : average_reading_score_by_type,
"% Passing Math" : average_percent_passing_math_by_type,"% Passing Reading" : average_percent_passing_reading_by_type,
"% Overall Passing" : average_percent_overall_passing_by_type})

# Display results
type_summary

In [ ]:
# Specify the path and filename where you want to save the DataFrame
file_path = '/Users/connorcasey/pandas_challenge.csv'
df.set_index('school_name', inplace=True)
# Save the DataFrame to CSV
district_summary.to_csv(file_path)
per_school_summary.to_csv(file_path)
top_schools.to_csv(file_path)